body {
    min-height: 100vh;
    margin: 0;
    background-color: rgb(296, 76, 165);
  }
  
  .topnav {
    overflow: hidden;
    background-color: white;
  }
  
  .topnav a {
    float: right;
    display: block;
    /* color: #f2f2f2; */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .logo {
    /* color: white; */
    font-family: 'Parisienne', cursive !important; 
  }
  
  .topnav .icon {
    display: none;
  }

  .main-nav li:first-child {
    margin-right: auto;
}
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
      height: 48px;
      width: 48px; 
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  .about {
    background-color: rgb(255, 71, 151);
  }
/* .main-nav {
    overflow: hidden;
    background-color: #333;
  }
  
  .main-nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .main-nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  
  .main-nav .icon {
    display: none;
  } */

/* .about {
    margin: -240px 0 0 40px;
}

.about img {
    box-shadow: 3px 3px 15px 0px rgba(199,199,199,1);
    width: 70%;
}

#projects {
    padding-top: 50px;
} */

.flex-container {
    text-align: center;
    font-size: 15px;
    padding-left: 40px;
}
.contact {
    text-align: center;
    padding: 40px;
    background-color: white; 
}
.contact-icons {
    display: flex;
    justify-content: center;
}

.col-3 {
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
    text-align: left;
}
.col-3 img {
    border: 1px #cdd1d0 solid;
}

#skills {
    padding: 30px;
    background-color: white; 
    margin-top: -10px;
}

.skills-icons {
    width: 50px;
    display: inline-block;
    padding: 20px;
}

ul {
    list-style: none;
    font-size: 11px;
    line-height: 25px;
}

a {
    text-decoration: none;
}

ul a {
    text-decoration: none;
}

#news {
    font-size: 14px;
}

img {
    width: 90%;
}

.button {
    padding-top:20px;
}

.button a:hover {
    background-color: #c51616;
}

.btn {
    border: 1px #cdd1d0 solid;
    padding: 10px;
}


h4 {
    font-size: 14px;
}

h3 {
    font-size: 16px;
}

p {
    font-size: 13px;
}

#projects h2, #skills h2  {
    text-align: center;
}

.logo {
    float: left !important;
    font-size: 25px !important;
}

@media screen and (min-width: 540px) {
    
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }
    /* .nav-bar {
        position: absolute;
        top: 0;
        width: 100%;
    }
    
    .main-nav {
        font-size: 14px;
        display: flex;
        list-style: none;
        margin: 0;
        line-height: 50px;
    }
    
    .main-nav li:first-child {
        margin-right: auto;
    }
    
    .main-nav a {
        color: white; 
        display: block;
        padding: 10px;
        text-decoration: none;
    }
    
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: rgb(245, 230, 142); 
      }
    
    .logo {
        font-size: 40px;
        font-family: 'Parisienne', cursive !important; 
    }
    
    .nav-bar {
        color: #fff;
        background: linear-gradient(-45deg, rgb(82, 163, 238), rgb(60, 231, 123), #23A6D5, #23D5AB);
        background-size: 400% 400%;
        -webkit-animation: Gradient 15s ease infinite;
        -moz-animation: Gradient 15s ease infinite;
        animation: Gradient 15s ease infinite;
    }
    
    @-moz-keyframes Gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }
    
    @keyframes Gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    } */
    .about {
        /* margin: -190px 0 0 100px; */
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
        font-size: 40px; 
        background-color: rgb(296, 76, 165);
    }


    .about-img {
        width: 50%;
        height: 50%;
        width: 50%;
    }

    .about h4 {
    font-size: 25px; 
    }
    .about p {
        font-size: 15px; 
    }

    .about-title {
        width: 40%;
        /* display: flex; */
        /* flex-direction: column; */
        /* justify-content: center; */
        margin-left: 126px;
        margin-top: 64px;
        color: white; 
    }

    .flex-container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-flow: row wrap;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: auto;
        padding-left: 40px;
    }

    .col-3 {
        width: 50%;
        padding-top: 20px;
        padding-bottom: 20px;
        display: inline-block;
        text-align: left;
    }

    .about {
        display: flex;
    }
    .about-text {
        padding-top: 7%;
    }

    .about-img {
        width: 50%;
    }

    .about-img img {
        width: 70%;
    }

}



@media screen and (min-width: 1080px) {
    .col-3 {
        width: 24%;
    }
}