body {
    min-height: 100vh;
    margin: 0 auto;
    font-family: 'PT Serif', serif !important;
  }
  
  /* navbar */
  .topnav {
    overflow: hidden;
    background-color: white !important;
  }
  
  .topnav a {
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: black !important;
  }
  
  .topnav a:hover {
    color: rgb(255, 71, 151) !important;
  }
  
  .logo {
    font-family: 'Parisienne', cursive !important; 
    margin-left: 30px; 
    float: left !important;
    font-size: 25px !important;
  }
  
  .topnav .hamburger-icon {
    display: none;
  }

/* about section */
.about {
    background-color: rgb(296, 76, 165);
    align-items: center;
    margin-top: 20px;
}

.about h4 {
    font-size: 30px; 
    }

.about p {
    margin-top: 10px;
    font-size: 20px; 
}

.about-img {
    margin-bottom: 10px;
    width: 60%;
}

.about-title h4 {
    color: rgb(254, 207, 53);
}

.about-title {
    color: white; 
}

.project-img {
    width: 95%;
    height: 35%;
}

.flex-container {
    text-align: center;
    font-size: 15px;
    padding-left: 40px;
}

.contact {
    text-align: center;
    padding: 40px;
    background-color: rgb(296, 76, 165);
    color: white; 
}
/* .contact-icons {
    display: flex;
    justify-content: center;
} */


#skills {
    padding: 30px;
    background-color: white; 
    margin-top: -10px;
}

a {
    text-decoration: none;
}

/* .button {
    padding-top:20px;
} */

/* .button a:hover {
    background-color: black;
    color: white; 
} */

/* .btn {
    border: 1px #cdd1d0 solid;
    padding: 10px;
} */

h4 {
    font-size: 14px;
}

h3 {
    font-size: 25px;
    font-weight: bold;
}

p {
    font-size: 20px;
}

#skills h1, #projects  {
    text-align: center;
    font-size: 30px; 
}
  
/* 650- hamburger menu */
  @media screen and (max-width: 650px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.hamburger-icon {
      float: right;
      display: block;
      height: 48px;
      width: 48px; 
    }
    .about {
        margin-top: 10px;
    }
  }

  
  /* 650- little screen */
  @media screen and (max-width: 650px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .hamburger-icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
    }
  }

/* 955+ half of screen or more */
@media screen and (min-width: 955px) {
    
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }

      .background {
        background-color: rgb(296, 76, 165);
        height: 79px;
        display: block; 
    }
    
    .about {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }

    .about-title {
        width: 50%;
        margin-left: 126px;
        margin-top: 30px;
    }

    .about-img {
        width: 50%;
        text-align: center;
    }
    
    .about-img img {
        width: 70%;
    }

    .flex-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-flow: row wrap;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: auto;
        padding-left: 40px;
    }

    .about-text {
        padding-top: 7%;
    }

}


/* 955- half-screen or less */
@media screen and (max-width: 955px) {
    .about {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 20px;
    }

    .background {
        display: none; 
    }

    .about-title {
        margin: 0 auto;
        width: 300px;
        text-align: center;
    }
}


/* 1080+ super large screen */
@media screen and (min-width: 955px) {
    .about-title {
        margin-top: -100px;
    }
}

  .image-border {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    box-shadow:0 4px 8px 0 rgba(146, 145, 145, 0.2), 0 6px 20px 0 rgba(105, 105, 105, 0.19);
  }
  
  .grid-border {
    box-shadow: 0 5px 10px 0 rgba(164, 162, 162, 0.13), 0 3px 10px 0 rgba(201, 201, 201, 0.12);
  }
  
  .icon-size {
    font-size: 48px;
  }
  
  h1 {
    font-size: 1.15em;
  }
  
  .hero-image {
    background: 
      linear-gradient( 180deg,rgba(223, 223, 223, 0.12), rgb(242, 242, 242) ),
      url(https://images.unsplash.com/photo-1484417894907-623942c8ee29?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3f1d38bbdda690e28a81673c06325075&auto=format&fit=crop&w=1189&q=80);
    background-size: cover;
  } 
  
  .section-padding {
    padding: 5.5rem 1.5rem !important;
  }
   
  
  
  .github:hover {
   color: #4d4d4d;
  }
  
  .fa-linkedin:hover {
    color: #4d4d4d;  
  }
  
  .image-container {
    position: relative;
    transition: 0.3s ease;
  } 
  
  .image-container:hover {
    opacity: 0.70;
  }
  
  