body {
    min-height: 100vh;
    margin: 0 auto;
    font-family: 'PT Serif', serif !important;
    background-color: black;
    /* background-color: #68815A; */
}
  
.logo {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 25px !important;
}

.navbar-item {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

/* about section */
.about {
    background-color: #68815A;
    align-items: center;
    margin-top: 20px;
}

.about h4 {
    font-size: 30px; 
    font-family: 'Yanone Kaffeesatz', sans-serif;
    
    }

.about p {
    margin-top: 10px;
    font-size: 20px; 
}

.about-img {
    margin-bottom: 10px;
    width: 60%;
}

.about-title h4 {
    color: white;
}

.about-title {
    color: white; 
}

.project-img {
    width: 95%;
    height: 35%;
}

.flex-container {
    text-align: center;
    font-size: 15px;
    padding-left: 40px;
}

.contact {
    text-align: center;
    padding: 40px;
    /* background-color: gray; */
    color: white; 
}


#skills {
    padding: 30px;
    background-color: white; 
    margin-top: -10px;
}


a {
    text-decoration: none;
}

h4 {
    font-size: 14px;
}

h3 {
    font-size: 25px;
    font-weight: bold;
}

p {
    font-size: 20px;
}
#skills h1, #projects, #contact {
    text-align: center;
    font-size: 30px; 
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

#projects {
    background-color: white;
}

.footer-icon {
    height: 40px !important;
    width: 40px !important;
    color: white !important;
}

.footer-icon:hover {
    color: black !important;
}

.image-border {
    box-shadow:0 4px 8px 0 rgba(146, 145, 145, 0.2), 0 6px 20px 0 rgba(105, 105, 105, 0.19);
  }
  
  .icon-size {
    font-size: 48px;
  }
  
  .image-container {
    position: relative;
    transition: 0.3s ease;
  } 
  
  .image-container:hover {
    opacity: 0.70;
  }
  
  .navlink:hover, .logo:hover {
      color: #68815A !important;
  }


/* 955+ half of screen or more */
@media screen and (min-width: 955px) {
      .background {
        /* background-color: lightgray; */
        height: 79px;
        display: block; 
    }
    
    .about {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }

    .about-title {
        width: 50%;
        margin-left: 126px;
        margin-top: 30px;
    }

    .about-img {
        width: 50%;
        text-align: center;
    }
    
    .about-img img {
        width: 70%;
    }

    .flex-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-flow: row wrap;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: auto;
        padding-left: 40px;
    }

    .about-text {
        padding-top: 7%;
    }

}


/* 955- half-screen or less */
@media screen and (max-width: 955px) {
    .about {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 20px;
    }

    .background {
        display: none; 
    }

    .about-title {
        margin: 0 auto;
        width: 300px;
        text-align: center;
    }
}


/* 1080+ super large screen */
@media screen and (min-width: 955px) {
    .about-title {
        margin-top: -100px;
    }
}


  
  